In [5]:
#Importing essential libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1) DATA EXPLORATION

In [6]:
#Getting the data
train_dataset= pd.read_csv("Train_UWu5bXk.csv")
test_dataset= pd.read_csv("Test_u94Q5KV.csv")

In [7]:
# Creating a new column (source) to know whether the data is training data or test data
# This is done because when we combine these 2 datasets we will know which is train and which is test.
train_dataset["source"]= 'train'
test_dataset["source"]='test'

In [8]:
combined_dataset['Item_Type'].value_counts()

NameError: name 'combined_dataset' is not defined

In [9]:
# 'source' column is shown for train dataset.
train_dataset.head(50)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,source
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,train
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,train
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,train
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,train
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,train
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088,train
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528,train
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636,train
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986,train
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350,train
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266,train
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530,train
12,FDX32,15.100,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646,train
13,FDS46,17.600,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076,train
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260,train
15,FDP49,9.000,Regular,0.069089,Breakfast,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192,train
16,NCB42,11.800,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888,train
17,FDP49,9.000,Regular,0.069196,Breakfast,54.3614,OUT049,1999,Medium,Tier 1,Supermarket Type1,718.3982,train
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680,train
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224,train
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860,train
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432,train
22,NCB30,14.600,Low Fat,0.025698,Household,196.5084,OUT035,2004,Small,Tier 2,Supermarket Type1,1587.2672,train
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876,train
24,FDR28,13.850,Regular,0.025896,Frozen Foods,165.0210,OUT046,1997,Small,Tier 1,Supermarket Type1,4078.0250,train
25,NCD06,13.000,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080,train
26,FDV10,7.645,Regular,0.066693,Snack Foods,42.3112,OUT035,2004,Small,Tier 2,Supermarket Type1,1065.2800,train
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312,train
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344,train
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362,train
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,1998,NaN,Tier 3,Grocery Store,163.7868,train
31,NCS17,18.600,Low Fat,0.080829,Health and Hygiene,96.4436,OUT018,2009,Medium,Tier 3,Supermarket Type2,2741.7644,train
32,FDP33,18.700,Low Fat,0.000000,Snack Foods,256.6672,OUT018,2009,Medium,Tier 3,Supermarket Type2,3068.0064,train
33,FDO23,17.850,Low Fat,0.000000,Breads,93.1436,OUT045,2002,NaN,Tier 2,Supermarket Type1,2174.5028,train
34,DRH01,17.500,Low Fat,0.097904,Soft Drinks,174.8738,OUT046,1997,Small,Tier 1,Supermarket Type1,2085.2856,train
35,NCX29,10.000,Low Fat,0.089291,Health and Hygiene,146.7102,OUT049,1999,Medium,Tier 1,Supermarket Type1,3791.0652,train
36,FDV20,NaN,Regular,0.059512,Fruits and Vegetables,128.0678,OUT027,1985,Medium,Tier 3,Supermarket Type3,2797.6916,train
37,DRZ11,8.850,Regular,0.113124,Soft Drinks,122.5388,OUT018,2009,Medium,Tier 3,Supermarket Type2,1609.9044,train
38,FDX10,NaN,Regular,0.123111,Snack Foods,36.9874,OUT027,1985,Medium,Tier 3,Supermarket Type3,388.1614,train
39,FDB34,NaN,Low Fat,0.026481,Snack Foods,87.6198,OUT027,1985,Medium,Tier 3,Supermarket Type3,2180.4950,train
40,FDU02,13.350,Low Fat,0.102512,Dairy,230.6352,OUT046,1997,Small,Tier 1,Supermarket Type1,3435.5280,train
41,FDK43,9.800,Low Fat,0.026818,Meat,126.0020,OUT013,1987,High,Tier 3,Supermarket Type1,2150.5340,train
42,FDA46,13.600,Low Fat,0.117818,Snack Foods,192.9136,OUT049,1999,Medium,Tier 1,Supermarket Type1,2527.3768,train
43,FDC02,21.350,Low Fat,0.069103,Canned,259.9278,OUT018,2009,Medium,Tier 3,Supermarket Type2,6768.5228,train
44,FDL50,12.150,Regular,0.042278,Canned,126.5046,OUT013,1987,High,Tier 3,Supermarket Type1,373.5138,train
45,FDM39,6.420,LF,0.089499,Dairy,178.1002,OUT010,1998,NaN,Tier 3,Grocery Store,358.2004,train
46,NCP05,19.600,Low Fat,0.000000,Health and Hygiene,153.3024,OUT045,2002,NaN,Tier 2,Supermarket Type1,2428.8384,train
47,FDV49,10.000,Low Fat,0.025880,Canned,265.2226,OUT045,2002,NaN,Tier 2,Supermarket Type1,5815.0972,train
48,FDL12,15.850,Regular,0.121633,Baking Goods,60.6220,OUT046,1997,Small,Tier 1,Supermarket Type1,2576.6460,train
49,FDS02,NaN,Regular,0.255395,Dairy,196.8794,OUT019,1985,Small,Tier 1,Grocery Store,780.3176,train

In [10]:
#Combining train and test datasets
combined_dataset= pd.concat([train_dataset,test_dataset], ignore_index= True)  #Ignore_index: If 'True' gives meaningful indexing

C:\Users\banak\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [11]:
# printing number of rows and columns of each dataset.
print (train_dataset.shape, test_dataset.shape, combined_dataset.shape)

((8523, 13), (5681, 12), (14204, 13))

In [12]:
#without print
#train_dataset.shape,  test_dataset.shape, combined_dataset.shape

# 1.1 Checking MISSING VALUES

In [13]:
# checking the number of missing values column wise--1.
#sum(combined_dataset['Item_Weight'].isnull())
#not given in the approach material. 
pd.isnull(combined_dataset).sum()

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                  2439
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                  4016
Outlet_Type                     0
source                          0
dtype: int64

In [14]:
# Checking the number of missing values in the dataset column wise--2. 
# .apply= applies the given function to each column if axis =0
# As given in the approach material.
combined_dataset.apply(lambda x: sum(x.isnull()), axis=0)

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                  2439
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                  4016
Outlet_Type                     0
source                          0
dtype: int64

In [15]:
# The missing values in the Item_Outlet_Sales belong to the test set (The values for Item_Outlet_Sales are not given in the test set )
# Therefore, we just have to look after the missing values in the other 2 variables.

# 1.2 Basic Statistics for numerical variables

In [16]:
combined_dataset.describe()

,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Outlet_Establishment_Year
count,14204.000000,8523.000000,14204.000000,11765.000000,14204.000000
mean,141.004977,2181.288914,0.065953,12.792854,1997.830681
std,62.086938,1706.499616,0.051459,4.652502,8.371664
min,31.290000,33.290000,0.000000,4.555000,1985.000000
25%,94.012000,834.247400,0.027036,8.710000,1987.000000
50%,142.247000,1794.331000,0.054021,12.600000,1999.000000
75%,185.855600,3101.296400,0.094037,16.750000,2004.000000
max,266.888400,13086.964800,0.328391,21.350000,2009.000000

# 1.3 Looking the number of unique values in each of the categorical variable

In [17]:
# df.nunique(): Return the number of distinct observations over requested axis in the extire dataset. 
# NOTE: df.nunique(dropna=False):----- Must include dropna= False.Otherwise,the NaN values will not be included. 
# Not given in the approach material 
combined_dataset.nunique(dropna=False)

Item_Fat_Content                 5
Item_Identifier               1559
Item_MRP                      8052
Item_Outlet_Sales             3494
Item_Type                       16
Item_Visibility              13006
Item_Weight                    416
Outlet_Establishment_Year        9
Outlet_Identifier               10
Outlet_Location_Type             3
Outlet_Size                      4
Outlet_Type                      4
source                           2
dtype: int64

In [18]:
# the number of unique values in each of the categorical variable.
# as given in approach material.
combined_dataset.apply(lambda x: len(x.unique()), axis=0)

Item_Fat_Content                 5
Item_Identifier               1559
Item_MRP                      8052
Item_Outlet_Sales             3494
Item_Type                       16
Item_Visibility              13006
Item_Weight                    416
Outlet_Establishment_Year        9
Outlet_Identifier               10
Outlet_Location_Type             3
Outlet_Size                      4
Outlet_Type                      4
source                           2
dtype: int64

In [19]:
# Frequency of categories of each categorical column 
combined_dataset['Item_Fat_Content'].value_counts()

Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

In [20]:
#Putting categorical variables in 1 set 
car_var=[]
for x in combined_dataset:
    if combined_dataset.dtypes[x]=='object':
         car_var.append(x)

In [21]:
car_var

['Item_Fat_Content',
 'Item_Identifier',
 'Item_Type',
 'Outlet_Identifier',
 'Outlet_Location_Type',
 'Outlet_Size',
 'Outlet_Type',
 'source']

In [22]:
# Instead of following the above process for each column, lets use below code to get all at a time. 
# approach material. 


categorical_variables=[x for x in combined_dataset.dtypes.index if combined_dataset.dtypes[x]=='object'] # Putting all categorical variables in one set.

In [23]:
categorical_variables

['Item_Fat_Content',
 'Item_Identifier',
 'Item_Type',
 'Outlet_Identifier',
 'Outlet_Location_Type',
 'Outlet_Size',
 'Outlet_Type',
 'source']

In [24]:
# excluding the columns contaid the ID and source
for x in car_var.index:
    if x!='Item_Identifier':
        car_var.append(x)
    elif x!='Outlet_Identifier':
        car_var.append(x)
    elif x!= 'source':
        car_var.append(x)
    else:
        car_var.append(x)

TypeError: 'builtin_function_or_method' object is not iterable

# 2 Data Cleaning

In [25]:
# With this method getting an  error saying that expected 2D array got 1D arrray
#from sklearn.preprocessing import Imputer
#imputer=Imputer(missing_values='NaN', strategy='mean', axis=0 )
#imputer=imputer.fit(combined_dataset['Item_Weight'])
#x=imputer.transform(combined_dataset['Item_Weight'])

In [26]:
#Replacing the null values in 'Item_Weight' with the mean of that column
Item_Weight_Mean=combined_dataset['Item_Weight'].mean()
Item_Weight_Mean

12.792854228644991

In [27]:
combined_dataset['Item_Weight']=combined_dataset['Item_Weight'].fillna(Item_Weight_Mean)

In [28]:
#To know the dimension of the array.
combined_dataset['Item_Weight'].ndim

1

In [29]:
#Checking if there are any missing values after Imputing.
# Both below codes are working
pd.isnull(combined_dataset['Item_Weight']).sum()
sum(combined_dataset['Item_Weight'].isnull())

0

In [30]:
# Replacing the null values in Outlet_size with mode as there are only 4 unique values.
# checking the number of missing values in this column.

In [31]:
Outlet_Size_Mode=combined_dataset['Outlet_Size'].mode()
Outlet_Size_Mode

0    Medium
dtype: object

In [32]:
combined_dataset['Outlet_Size'].fillna('Medium', inplace=True)

In [33]:
sum(combined_dataset['Outlet_Size'].isnull())

0

In [34]:
#combined_dataset['Outlet_Size'].fillna(Outlet_Size_Mode, inplace=True)

In [35]:
#pd.isnull(combined_dataset['Outlet_Size']).sum()

In [36]:
#NOTE: IMPUTER only works on numbers. 
'''from sklearn.preprocessing import Imputer
imputer=Imputer(missing_values='NaN', strategy='most_frequent', axis=0 )
imputer=imputer.fit(combined_dataset['Outlet_Size'])
x=imputer.transform(combined_dataset['Outlet_Size'])'''

"from sklearn.preprocessing import Imputer\nimputer=Imputer(missing_values='NaN', strategy='most_frequent', axis=0 )\nimputer=imputer.fit(combined_dataset['Outlet_Size'])\nx=imputer.transform(combined_dataset['Outlet_Size'])"

In [37]:
combined_dataset['Outlet_Type'].value_counts()

Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: Outlet_Type, dtype: int64

In [38]:
# Separating the rows containing Outlet_Type as Supermarket Type1
#Supermarket_Type1=combined_dataset.loc[combined_dataset['Outlet_Type'] == 'Supermarket Type1']

In [39]:
#Supermarket_Type1

In [40]:
#Mode of Outlet_Size with Outlet_Type containing Supermarket Type 1
#Supermarket_Type1_Mode=Supermarket_Type1['Outlet_Size'].mode()

In [41]:
#Supermarket_Type1_Mode

In [42]:
#sum(Supermarket_Type1['Outlet_Size'].isnull())

In [43]:
#Supermarket_Type1['Outlet_Size'].fillna(Supermarket_Type1_Mode, inplace=True)

In [44]:
#sum(Supermarket_Type1['Outlet_Size'].isnull())

In [45]:
#Supermarket_Type1

In [46]:
# Separating the rows containing Outlet_Type as Supermarket Type2
#Supermarket_Type2 =combined_dataset.loc[combined_dataset['Outlet_Type'] == 'Supermarket Type2']

In [47]:
#Supermarket_Type2.head(100)

In [48]:
#Supermarket_Type2_Mode=Supermarket_Type2['Outlet_Size'].mode()#

In [49]:
#Supermarket_Type2_Mode

In [50]:
#sum(Supermarket_Type2['Outlet_Size'].isnull())

In [51]:
# Separating the rows containing Outlet_Type as Supermarket Type2
#Supermarket_Type3=combined_dataset.loc[combined_dataset['Outlet_Type']=='Supermarket Type3']

In [52]:
#Supermarket_Type3.head()

In [53]:
#sum(Supermarket_Type3['Outlet_Size'].isnull())

In [54]:
#Grocery_Store=combined_dataset.loc[combined_dataset['Outlet_Type']=='Grocery Store']

In [55]:
#sum(Grocery_Store['Outlet_Size'].isnull())

In [56]:
#Grocery_Store_Mode=Grocery_Store['Outlet_Size'].mode()

In [57]:
#Grocery_Store_Mode

In [58]:
#Grocery_Store['Outlet_Size'].fillna('Small', inplace=True)

In [59]:
#sum(Grocery_Store['Outlet_Size'].isnull())

In [60]:
#Grocery_Store['Outlet_Size'].head()

In [61]:
#sum(combined_dataset['Outlet_Size'].isnull())

In [62]:
#if combined_dataset['Outlet_Type'] == 'Supermarket Type1':
 #   Supermarket_Type1_Mode=Supermarket_Type1['Outlet_Size'].mode()
 #   Supermarket_Type1['Outlet_Size'].fillna(Supermarket_Type1_Mode, inplace=True)

In [63]:
#combined_dataset['Outlet_Size']=combined_dataset['Outlet_Size'].astype(str)

In [64]:
#from scipy.stats import mode
#combined_dataset.pivot_table(values='Outlet_Size', columns='Outlet_Type', aggfunc=mode)

# 3 FEATURE ENGINEERING

In [65]:
combined_dataset['Item_Fat_Content'].value_counts()

Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

In [66]:
combined_dataset['Item_Fat_Content']=combined_dataset['Item_Fat_Content'].replace(['LF','reg','low fat'],['Low Fat','Regular','Low Fat'])

In [67]:
combined_dataset['Item_Fat_Content'].value_counts()

Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [68]:
#To convert the year to the no. of years since 2013
combined_dataset['Outlet_Establishment_Year']=combined_dataset['Outlet_Establishment_Year'].apply(lambda x:2013-x)

In [69]:
combined_dataset['Outlet_Establishment_Year'].value_counts()

28    2439
26    1553
14    1550
9     1550
16    1550
11    1548
4     1546
6     1543
15     925
Name: Outlet_Establishment_Year, dtype: int64

In [70]:
#index: what variables to consider
#values: values in other variable corresponding to the categories in the variable mentioned in index. 
#aggfunc: function to be applied mean/ median to the values on in variale mentioned in 'values'corresponding to the categories in variale mentioned in 'index'
combined_dataset.pivot_table(index='Outlet_Type', values='Item_Outlet_Sales',columns='Outlet_Establishment_Year' )

Outlet_Establishment_Year,4,6,9,11,14,15,16,26,28
Outlet_Type,,,,,,,,,
Grocery Store,NaN,NaN,NaN,NaN,NaN,339.351662,NaN,NaN,340.329723
Supermarket Type1,NaN,2340.675263,2438.841866,2192.384798,2348.354635,NaN,2277.844267,2298.995256,NaN
Supermarket Type2,1995.498739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Supermarket Type3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3694.038558

In [71]:
#Note: since the mean sales in both Type 1 and Type 2 supermarkets has a lot of difference, we should not combine them.

In [72]:
#To find number of values with Item_Visibility==0
count=0
for i in combined_dataset['Item_Visibility']:
    if i==0:
        count=count+1
count

879

In [73]:
combined_dataset['Item_Visibility'].value_counts()

0.000000    879
0.076856      3
0.076841      3
0.077290      3
0.077169      3
0.076975      3
0.077011      3
0.076792      3
0.076483      3
0.046899      2
0.159844      2
0.135708      2
0.135944      2
0.072298      2
0.136008      2
0.136896      2
0.203401      2
0.081788      2
0.075049      2
0.058369      2
0.104784      2
0.080131      2
0.072411      2
0.024635      2
0.052069      2
0.079968      2
0.179192      2
0.079806      2
0.121767      2
0.080625      2
           ...
0.013147      1
0.098790      1
0.073397      1
0.137756      1
0.017937      1
0.105126      1
0.044156      1
0.141639      1
0.094411      1
0.074883      1
0.039236      1
0.044497      1
0.051147      1
0.175061      1
0.039034      1
0.077508      1
0.078943      1
0.077170      1
0.042959      1
0.013173      1
0.069939      1
0.011305      1
0.069042      1
0.012216      1
0.064142      1
0.209684      1
0.019592      1
0.013530      1
0.008772      1
0.066817      1
Name: Item_Visibility, Length: 13006, dtype: int64

In [74]:
combined_dataset['Item_Visibility'].mean()

0.06595278007399345

In [75]:
# Replacing the 0 Item_Visibility with its mean
combined_dataset['Item_Visibility']=combined_dataset['Item_Visibility'].replace(0,combined_dataset['Item_Visibility'].mean())

In [76]:
count=0
for i in combined_dataset['Item_Visibility']:
    if i==0:
        count=count+1
count

0

In [77]:
combined_dataset['Item_Visibility'].value_counts()

0.065953    879
0.076841      3
0.077290      3
0.077169      3
0.076792      3
0.076483      3
0.076975      3
0.076856      3
0.077011      3
0.159721      2
0.058827      2
0.121521      2
0.037574      2
0.085204      2
0.059968      2
0.046729      2
0.071948      2
0.052025      2
0.112682      2
0.059836      2
0.093531      2
0.120663      2
0.056306      2
0.127416      2
0.159690      2
0.103442      2
0.121227      2
0.072238      2
0.086765      2
0.080250      2
           ...
0.013147      1
0.098790      1
0.073397      1
0.137756      1
0.017937      1
0.105126      1
0.044156      1
0.141639      1
0.094411      1
0.074883      1
0.039236      1
0.044497      1
0.051147      1
0.175061      1
0.039034      1
0.077508      1
0.078943      1
0.077170      1
0.042959      1
0.013173      1
0.069939      1
0.011305      1
0.069042      1
0.012216      1
0.064142      1
0.209684      1
0.019592      1
0.013530      1
0.008772      1
0.115072      1
Name: Item_Visibility, Length: 13006, dtype: int64

In [79]:
v_avg=combined_dataset.pivot_table(index='Item_Identifier', values='Item_Visibility')

In [80]:
v_avg

                 Item_Visibility
Item_Identifier
DRA12                   0.049594
DRA24                   0.045646
DRA59                   0.139979
DRB01                   0.087980
DRB13                   0.014127
DRB24                   0.020596
DRB25                   0.079407
DRB48                   0.031301
DRC01                   0.020653
DRC12                   0.037862
DRC13                   0.036652
DRC24                   0.026913
DRC25                   0.053950
DRC27                   0.066423
DRC36                   0.053528
DRC49                   0.070950
DRD01                   0.066330
DRD12                   0.082394
DRD13                   0.049125
DRD15                   0.064930
DRD24                   0.035205
DRD25                   0.088980
DRD27                   0.035202
DRD37                   0.020680
DRD49                   0.167987
DRD60                   0.040369
DRE01                   0.179808
DRE03                   0.026061
DRE12                   0.070225
DRE13                   0.031673
...                          ...
NCX05                   0.110962
NCX06                   0.017934
NCX17                   0.113709
NCX18                   0.021484
NCX29                   0.101920
NCX30                   0.032573
NCX41                   0.023886
NCX42                   0.006482
NCX53                   0.021737
NCX54                   0.051698
NCY05                   0.059645
NCY06                   0.065816
NCY17                   0.141607
NCY18                   0.033510
NCY29                   0.088295
NCY30                   0.028140
NCY41                   0.086582
NCY42                   0.016440
NCY53                   0.064244
NCY54                   0.191145
NCZ05                   0.063030
NCZ06                   0.102096
NCZ17                   0.083897
NCZ18                   0.188282
NCZ29                   0.076774
NCZ30                   0.033897
NCZ41                   0.064640
NCZ42                   0.017610
NCZ53                   0.026330
NCZ54                   0.087940

[1559 rows x 1 columns]